body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    background: linear-gradient(to right, #ffd194, #70e1f5);
}

h2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#options {
    padding: 3px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.45);
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
}

button:hover {
    transition: 0.3s;
    font-size: 18px;
    color: honeydew;
    background: #808080;
}